---
# Switch loopbacks

csw1_loopback: "10.2.22.223"
sw1_loopback: "10.2.22.224"
sw2_loopback: "10.2.22.225"

# Prometheus (mon1)

prometheus_version: "3.7.3"
prometheus_arch: "linux-amd64"
prometheus_tmp_dir: "/tmp"
prometheus_download_url: "https://github.com/prometheus/prometheus/releases/download/v{{ prometheus_version }}/prometheus-{{ prometheus_version }}.{{ prometheus_arch }}.tar.gz"

prometheus_user: prometheus
prometheus_group: prometheus

prometheus_bin_dir: /usr/local/bin
prometheus_bin_path: "{{ prometheus_bin_dir }}/prometheus"
prometheus_config_dir: /etc/prometheus
prometheus_data_dir: /var/lib/prometheus

prometheus_web_port: 9090
prometheus_web_listen_address: "0.0.0.0:{{ prometheus_web_port }}"
prometheus_log_level: info

prometheus_scrape_interval: "15s"
prometheus_evaluation_interval: "15s"

prometheus_alertmanager_url: "http://localhost:9093"

# Loki (mon1)

loki_data_dir: /var/lib/loki
loki_config_dir: /etc/loki
loki_http_listen_port: "3100"
loki_retention_period: "168h"
loki_index_prefix: "index_"
loki_schema_from: "2020-05-15"

# Alertmanager (mon1)

alertmanager_config_dir: /etc/alertmanager
alertmanager_data_dir: /var/lib/alertmanager
alertmanager_web_listen_address: "0.0.0.0:9093"

alertmanager_receivers:
  - name: "null-receiver"
    email_configs: []

alertmanager_default_route:
  group_by: ['alertname', 'instance']
  group_wait: "30s"
  group_interval: "5m"
  repeat_interval: "3h"
  receiver: "null-receiver"

# Grafana Alloy

alloy_repo_name: grafana
alloy_repo_baseurl: https://rpm.grafana.com
alloy_repo_gpgkey: https://rpm.grafana.com/gpg.key
alloy_package_name: alloy

alloy_storage_path: /var/lib/alloy
alloy_config_file: /etc/alloy/config.alloy
alloy_env_file: /etc/sysconfig/alloy

alloy_enable_ui: true
alloy_ui_port: 12345

# SNMP exporter

snmp_exporter_version: "0.29.0"
snmp_exporter_arch: "linux-amd64"
snmp_exporter_tmp_dir: "/tmp"
snmp_exporter_download_url: "https://github.com/prometheus/snmp_exporter/releases/download/v{{ snmp_exporter_version }}/snmp_exporter-{{ snmp_exporter_version }}.{{ snmp_exporter_arch }}.tar.gz"

snmp_exporter_user: "{{ prometheus_user }}"
snmp_exporter_group: "{{ prometheus_group }}"

snmp_exporter_bin_dir: /usr/local/bin


