---
# Node exporter

node_exporter_version: "1.10.2"
node_exporter_arch: "linux-amd64"
node_exporter_tmp_dir: "/tmp"
node_exporter_download_url: "https://github.com/prometheus/node_exporter/releases/download/v{{ node_exporter_version }}/node_exporter-{{ node_exporter_version }}.{{ node_exporter_arch }}.tar.gz"

node_exporter_user: node_exporter
node_exporter_group: node_exporter

node_exporter_bin_dir: /usr/local/bin

# Grafana Alloy

alloy_repo_name: grafana
alloy_repo_baseurl: https://rpm.grafana.com
alloy_repo_gpgkey: https://rpm.grafana.com/gpg.key
alloy_package_name: alloy

alloy_config_file: /etc/alloy/config.alloy
alloy_env_file: /etc/sysconfig/alloy

alloy_enable_ui: true
alloy_ui_port: 12345

