---
# Prometheus (mon1)

prometheus_version: "3.7.3"
prometheus_arch: "linux-amd64"
prometheus_tmp_dir: "/tmp"
prometheus_download_url: "https://github.com/prometheus/prometheus/releases/download/v{{ prometheus_version }}/prometheus-{{ prometheus_version }}.{{ prometheus_arch }}.tar.gz"

prometheus_user: prometheus
prometheus_group: prometheus

prometheus_bin_dir: /usr/local/bin
prometheus_bin_path: "{{ prometheus_bin_dir }}/prometheus"
prometheus_config_dir: /etc/prometheus
prometheus_data_dir: /var/lib/prometheus

prometheus_web_port: 9090
prometheus_web_listen_address: "0.0.0.0:{{ prometheus_web_port }}"
prometheus_log_level: info

prometheus_scrape_interval: "15s"
prometheus_evaluation_interval: "15s"

prometheus_alertmanager_url: "http://localhost:9093"

# Loki (mon1)

loki_data_dir: /var/lib/loki
loki_config_dir: /etc/loki
loki_http_listen_port: "3100"
loki_retention_period: "168h"
loki_index_prefix: "index_"
loki_schema_from: "2020-05-15"

# Alertmanager (mon1)

alertmanager_config_dir: /etc/alertmanager
alertmanager_data_dir: /var/lib/alertmanager
alertmanager_web_listen_address: "0.0.0.0:9093"

alertmanager_receivers:
  - name: "null-receiver"
    email_configs: []

# Default routing for alerts; tweak later as you define real alert rules

alertmanager_default_route:
  group_by: ['alertname', 'instance']
  group_wait: "30s"
  group_interval: "5m"
  repeat_interval: "3h"
  receiver: "null-receiver"

