---
- name: import grafana GPG key
  command: "rpm --import {{ alloy_repo_gpgkey }}"
  when: ansible_os_family == "RedHat"

- name: configure grafana yum repository
  yum_repository:
    name: "{{ alloy_repo_name }}"
    description: grafana
    baseurl: "{{ alloy_repo_baseurl }}"
    enabled: true
    gpgcheck: true
    repo_gpgcheck: true
    gpgkey: "{{ alloy_repo_gpgkey }}"
    sslverify: true
    sslcacert: /etc/pki/tls/certs/ca-bundle.crt
    state: present
  when: ansible_os_family == "RedHat"

- name: Ensure grafana keyring directory exists
  file:
    path: /etc/apt/keyrings
    state: directory
    mode: "0755"
  when: ansible_os_family == "Debian"

- name: Download Grafana GPG key and store as keyring
  shell: |
    wget -q -O - https://apt.grafana.com/gpg.key | gpg --dearmor -o /etc/apt/keyrings/grafana.gpg
  args:
    creates: /etc/apt/keyrings/grafana.gpg
  when: ansible_os_family == "Debian"

- name: Configure Grafana apt repository
  ansible.builtin.apt_repository:
    repo: "deb [signed-by=/etc/apt/keyrings/grafana.gpg] https://apt.grafana.com stable main"
    filename: grafana
    state: present
  when: ansible_os_family == "Debian"

- name: install Alloy package
  package:
    name: "{{ alloy_package_name }}"
    state: present

- name: install acl
  package:
    name: acl
    state: present
  when: ansible_os_family == "RedHat"

- name: ensure alloy user exists
  user:
    name: alloy
    system: true
    shell: /sbin/nologin
    create_home: false

- name: add alloy user to systemd-journal group
  user:
    name: alloy
    groups:
      - systemd-journal
    append: true

- name: manage Alloy config file
  template:
    src: config_alloy.j2
    dest: "{{ alloy_config_file }}"

- name: manage Alloy env file
  template:
    src: sysconfig_alloy.j2
    dest: "{{ alloy_env_file }}"

- name: allow alloy web port in SELinux
  seport:
    ports: "{{ alloy_ui_port }}"
    proto: tcp
    setype: http_port_t
    state: present
  when: inventory_hostname in groups['mon_core']

- name: open alloy web port in firewalld
  firewalld:
    port: "{{ alloy_ui_port }}/tcp"
    permanent: true
    state: enabled
    immediate: true
  when: inventory_hostname in groups['mon_core']

- name: open alloy 514/udp for switches syslog in firewalld
  firewalld:
    port: 514/udp
    permanent: true
    state: enabled
    immediate: true
  when: inventory_hostname in groups['mon_core']

- name: setup rsyslog for switch logs
  template:
    src: rsyslog_cisco.j2
    dest: '/etc/rsyslog.d/30-cisco.conf'
  when: inventory_hostname in groups['mon_core']
  
- name: give alloy user permissions to view logs
  shell: "setfacl -m u:alloy:r /var/log/*"
  when: ansible_os_family == "RedHat"

- name: ensure Alloy service is enabled and started
  service:
    name: alloy
    enabled: true
    state: started

- name: ensure Alloy service is enabled and started
  service:
    name: "{{ item }}"
    enabled: true
    state: restarted
  loop:
    - alloy
    - firewalld
    - rsyslog
  when: ansible_os_family == "RedHat"
