---
- name: import grafana GPG key
  command: "rpm --import {{ alloy_repo_gpgkey }}"

- name: configure grafana yum repository
  yum_repository:
    name: "{{ alloy_repo_name }}"
    description: grafana
    baseurl: "{{ alloy_repo_baseurl }}"
    enabled: true
    gpgcheck: true
    repo_gpgcheck: true
    gpgkey: "{{ alloy_repo_gpgkey }}"
    sslverify: true
    sslcacert: /etc/pki/tls/certs/ca-bundle.crt
    state: present

- name: install Alloy package
  package:
    name: "{{ alloy_package_name }}"
    state: present

- name: install acl
  package:
    name: acl
    state: present

- name: ensure alloy user exists
  user:
    name: alloy
    system: true
    shell: /sbin/nologin
    create_home: false

- name: add alloy user to systemd-journal group
  user:
    name: alloy
    groups:
      - systemd-journal
    append: true

- name: manage Alloy config file
  template:
    src: config_alloy.j2
    dest: "{{ alloy_config_file }}"

- name: manage Alloy env file
  template:
    src: sysconfig_alloy.j2
    dest: "{{ alloy_env_file }}"

- name: allow alloy web port in SELinux
  seport:
    ports: "{{ alloy_ui_port }}"
    proto: tcp
    setype: http_port_t
    state: present

- name: open alloy web port in firewalld
  firewalld:
    port: "{{ alloy_ui_port }}/tcp"
    permanent: true
    state: enabled
    immediate: true

- name: open alloy 1514/udp for switches syslog in firewalld
  firewalld:
    port: 1514/udp
    permanent: true
    state: enabled
    immediate: true

- name: give alloy user permissions to view logs
  shell: "setfacl -m u:alloy:r /var/log/messages /var/log/secure"

- name: ensure Alloy service is enabled and started
  service:
    name: "{{ item }}"
    enabled: true
    state: restarted
  loop:
    - alloy
    - firewalld
