---
- name: import grafana GPG key
  rpm_key:
    state: present
    key: "{{ alloy_repo_gpgkey }}"

- name: configure grafana yum repository
  yum_repository:
    name: "{{ alloy_repo_name }}"
    description: grafana
    baseurl: "{{ alloy_repo_baseurl }}"
    enabled: true
    gpgcheck: true
    repo_gpgcheck: true
    gpgkey: "{{ alloy_repo_gpgkey }}"
    sslverify: true
    sslcacert: /etc/pki/tls/certs/ca-bundle.crt
    state: present

- name: install Alloy package
  package:
    name: "{{ alloy_package_name }}"
    state: present

- name: Ensure Alloy storage directory exists
  ansible.builtin.file:
    path: "{{ alloy_storage_path }}"
    state: directory
    owner: "{{ alloy_journal_user }}"
    group: "{{ alloy_journal_user }}"
    mode: "0750"

- name: Ensure Alloy user exists (if package does not create it)
  ansible.builtin.user:
    name: "{{ alloy_journal_user }}"
    state: present
  when: alloy_journal_user is defined

- name: Add Alloy user to journald groups
  ansible.builtin.user:
    name: "{{ alloy_journal_user }}"
    groups: "{{ alloy_journal_groups }}"
    append: true
    state: present
  when: alloy_enable_journal
  notify: restart alloy

- name: Manage Alloy environment file
  ansible.builtin.template:
    src: sysconfig-alloy.j2
    dest: "{{ alloy_env_file }}"
    owner: root
    group: root
    mode: "0644"
  notify: restart alloy

- name: Manage Alloy configuration file
  ansible.builtin.template:
    src: config.alloy.j2
    dest: "{{ alloy_config_file }}"
    owner: root
    group: root
    mode: "0644"
  notify: reload alloy

- name: Ensure Alloy service is enabled and started
  ansible.builtin.service:
    name: "{{ alloy_service_name }}"
    enabled: "{{ alloy_service_enabled }}"
    state: "{{ alloy_service_state }}"
