[Unit]
Description=Prometheus SNMP Exporter
Wants=network-online.target
After=network.target

[Service]
User={{ snmp_exporter_user }}
Group={{ snmp_exporter_group }}
Type=simple
ExecStart={{ snmp_exporter_bin_dir }}/snmp_exporter \
  --config.file=/etc/snmp_exporter/snmp.yml \
  --web.listen-address=":9116"

Restart=always

[Install]
WantedBy=multi-user.target
