- name: ensure dependencies for unarchive
  package:
    name:
      - tar
      - gzip
    state: present
- name: download and unarchive prometheus
  unarchive:
    src: "{{ snmp_exporter_download_url }}"
    dest: "{{ snmp_exporter_tmp_dir }}" 
    remote_src: true
- name: create snmp_exporter group
  group:
    name: "{{ snmp_exporter_group }}"
    state: present
- name: create snmp_exporter user
  user:
    name: "{{ snmp_exporter_user }}"
    shell: /usr/bin/false
    group: "{{ snmp_exporter_group }}"
    create_home: false
    system: true
- name: copy executable
  copy:
    src: "{{ snmp_exporter_tmp_dir }}/snmp_exporter-{{ snmp_exporter_version }}.{{ snmp_exporter_arch }}/snmp_exporter"
    dest: "{{ snmp_exporter_bin_dir }}"
    owner: "{{ snmp_exporter_user }}"
    group: "{{ snmp_exporter_group }}"
    mode: '0755'
    remote_src: true
- name: create snmp directory
  file:
    path: "{{ snmp_exporter_config_dir }}"
    state: directory
    owner: "{{ snmp_exporter_user }}"
    group: "{{ snmp_exporter_group }}"
- name: deploy snmp config
  template:
    src: snmp_config.j2
    dest: "{{ snmp_exporter_config_dir }}/snmp.yml"
    owner: "{{ snmp_exporter_user }}"
    group: "{{ snmp_exporter_group }}"
    mode: '0644'
- name: scrape config template
  template:
    src: scrape_config.j2
    dest: "{{ prometheus_config_dir }}/prometheus.yml"
    owner: "{{ snmp_exporter_user }}"
    group: "{{ snmp_exporter_group }}"
    mode: '0644'
- name: run service template
  template:
    src: snmp_exporter.j2
    dest: /etc/systemd/system/snmp_exporter.service
    owner: root
    group: root
    mode: '0644'
- name: selinux port open 9116 with http_port_t type
  seport:
    ports: 9116
    proto: tcp
    setype: http_port_t
    state: present
- name: open port 9116 in firewalld
  firewalld:
    port: 9116/tcp
    permanent: true
    state: enabled
- name: restart firewalld
  service:
    name: firewalld
    state: restarted
- name: reload systemd
  shell: 'systemctl daemon-reload'
- name: start and enable exporter
  service:
    name: "{{ item }}"
    state: restarted
    enabled: true
  loop:
    - snmp_exporter
    - prometheus
