discovery.relabel "exporter" {
  targets = prometheus.exporter.unix.exporter.targets

  rule {
    target_label = "instance"
    replacement  = constants.hostname
  }

  rule {
    target_label = "job"
    replacement = "integrations/node_exporter"
  }
}

prometheus.exporter.unix "exporter" {
  disable_collectors = ["ipvs", "btrfs", "infiniband", "xfs", "zfs"]
  enable_collectors = ["meminfo"]

  filesystem {
    fs_types_exclude     = "^(autofs|binfmt_misc|bpf|cgroup2?|configfs|debugfs|devpts|devtmpfs|tmpfs|fusectl|hugetlbfs|iso9660|mqueue|nsfs|overlay|proc|procfs|pstore|rpc_pipefs|securityfs|selinuxfs|squashfs|sysfs|tracefs)$"
    mount_points_exclude = "^/(dev|proc|run/credentials/.+|sys|var/lib/docker/.+)($|/)"
    mount_timeout        = "5s"
  }

  netclass {
    ignored_devices = "^(veth.*|cali.*|[a-f0-9]{15})$"
  }

  netdev {
    device_exclude = "^(veth.*|cali.*|[a-f0-9]{15})$"
  }
}

prometheus.scrape "exporter" {
scrape_interval = "15s"
  targets    = discovery.relabel.exporter.output
  forward_to = [prometheus.remote_write.local.receiver]
}

prometheus.remote_write "local" {
  endpoint {
    url = "http://{{ hostvars['mon1']['ansible_host'] }}:9090/api/v1/write"
  }
}


local.file_match "system_logs" {
  path_targets = [{
    __address__ = "localhost",
    __path__    = "/var/log/{syslog,messages,secure,*.log}",
    instance    = constants.hostname,
    job         = "system-logs",
  }]
}

loki.source.file "system_logs" {
  targets    = local.file_match.system_logs.targets
  forward_to = [loki.write.local.receiver]
}


loki.process "system_logs" {
  stage.regex {
    expression = `^(?P<ts>\w{3}\s+\d+\s+\d{2}:\d{2}:\d{2}) (?P<host>\S+) (?P<program>[^[]+)(?:\[(?P<pid>\d+)\])?: (?P<msg>.*)$`
  }

  stage.labels {
    values = {
      host     = "host",
      program  = "program", 
      pid      = "pid",   
      severity = "unknown",
    }
  }


loki.source.syslog "cisco_switches" {
  // Listener for incoming syslog from your switches
  listener {
    address  = "0.0.0.0:514"
    protocol = "udp"

    labels = {
      job = "cisco-syslog",
    }
  }

  forward_to = [loki.process.cisco_switches.receiver]
}

loki.process "cisco_switches" {
  stage.labels {
    values = {
      remote_ip = "__syslog_connection_ip_address",
    }
  }

  stage.match {
    selector = "{remote_ip=\"10.2.22.223\"}"
    stage.static_labels {
      values = {
        hostname = "csw1",
        role     = "core",
      }
    }
  }

  stage.match {
    selector = "{remote_ip=\"10.2.22.224\"}"
    stage.static_labels {
      values = {
        hostname = "sw1",
        role     = "access",
      }
    }
  }

  stage.match {
    selector = "{remote_ip=\"10.2.22.225\"}"
    stage.static_labels {
      values = {
        hostname = "sw2",
        role     = "access",
      }
    }
  }

  // Finish by sending logs to Loki
  forward_to = [loki.write.local.receiver]
}


loki.write "local" {
    endpoint {
        url ="http://{{ hostvars['mon1']['ansible_host'] }}:3100/loki/api/v1/push"
    }
}

livedebugging{}
