discovery.relabel "exporter" {
  targets = prometheus.exporter.unix.exporter.targets

  rule {
    target_label = "instance"
    replacement  = constants.hostname
  }

  rule {
    target_label = "job"
    replacement = "integrations/node_exporter"
  }
}

prometheus.exporter.unix "exporter" {
  disable_collectors = ["ipvs", "btrfs", "infiniband", "xfs", "zfs"]
  enable_collectors = ["meminfo"]

  filesystem {
    fs_types_exclude     = "^(autofs|binfmt_misc|bpf|cgroup2?|configfs|debugfs|devpts|devtmpfs|tmpfs|fusectl|hugetlbfs|iso9660|mqueue|nsfs|overlay|proc|procfs|pstore|rpc_pipefs|securityfs|selinuxfs|squashfs|sysfs|tracefs)$"
    mount_points_exclude = "^/(dev|proc|run/credentials/.+|sys|var/lib/docker/.+)($|/)"
    mount_timeout        = "5s"
  }

  netclass {
    ignored_devices = "^(veth.*|cali.*|[a-f0-9]{15})$"
  }

  netdev {
    device_exclude = "^(veth.*|cali.*|[a-f0-9]{15})$"
  }
}

prometheus.scrape "exporter" {
scrape_interval = "15s"
  targets    = discovery.relabel.exporter.output
  forward_to = [prometheus.remote_write.local.receiver]
}

prometheus.remote_write "local" {
  endpoint {
    url = "http://{{ hostvars['mon1']['ansible_host'] }}:9090/api/v1/write"
  }
}



{% if ansible_os_family == 'Debian' %}

loki.source.journal "system_journal" {
  max_age = "24h0m0s"
  labels = {
    instance = constants.hostname
    job      = "system-journal"
  }

  relabel_rules = discovery.relabel.system_journal.rules
  forward_to = [loki.write.local.receiver]
}

discovery.relabel "system_journal" {
  targets = []

  rule {
    source_labels = ["__journal__systemd_unit"]
    target_label  = "unit"
  }

  rule {
    source_labels = ["__journal__boot_id"]
    target_label  = "boot_id"
  }

  rule {
    source_labels = ["__journal__transport"]
    target_label  = "transport"
  }

  rule {
    source_labels = ["__journal_priority_keyword"]
    target_label  = "level"
  }
}

{% else %}

local.file_match "system_logs" {
  path_targets = [{
    __address__ = "localhost",
    __path__    = "/var/log/{syslog,messages,secure}",
    instance    = constants.hostname,
    job         = "system-logs",
  }]
}
loki.source.file "system_logs" {
  targets    = local.file_match.system_logs.targets
  forward_to = [loki.write.local.receiver]
}

{% endif %}

{% if inventory_hostname in groups['mon_core'] %}

local.file_match "cisco_switches" {
  path_targets = [{
    __address__ = "localhost",
    __path__    = "/var/log/cisco-*.log",
    instance    = constants.hostname,
    job         = "cisco-syslog",
  }]
}
loki.source.file "cisco_switches" {
  targets    = local.file_match.cisco_switches.targets
  forward_to = [loki.write.local.receiver]
}

{% endif %}

loki.write "local" {
    endpoint {
        url ="http://{{ hostvars['mon1']['ansible_host'] }}:3100/loki/api/v1/push"
    }
}

livedebugging{}
