# Listen for Cisco syslog on UDP 514
module(load="imudp")
input(type="imudp" port="514")

# Always show sender IP, not whatever hostname is in the packet
template(name="CiscoIPFormat" type="string"
         string="%timegenerated% %fromhost-ip% %msg%\n")

# CSW1
if ($fromhost-ip == '10.2.22.223') then {
  action(
    type="omfile"
    file="/var/log/cisco-csw1.log"
    template="CiscoIPFormat"
  )
  stop
}

# SW1
if ($fromhost-ip == '10.2.22.224') then {
  action(
    type="omfile"
    file="/var/log/cisco-sw1.log"
    template="CiscoIPFormat"
  )
  stop
}

# SW2
if ($fromhost-ip == '10.2.22.225') then {
  action(
    type="omfile"
    file="/var/log/cisco-sw2.log"
    template="CiscoIPFormat"
  )
  stop
}
